.App {
  text-align: center;
  height: 150%;
}

.App-header {
  background-color: #fff;
  min-height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 0rem 0;
}
.App-footer {
  margin: 3vh 0;
}
.App-footer a {
  text-decoration: none;
  color: rgb(102, 102, 107);
  padding: 0 2vh;
}
